In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Load the dataset using pandas

In [2]:
data=pd.read_csv(r'C:\Users\gowta\OneDrive\Desktop\Data Science\assignment\Module-Supervised-Learning-Algorithm-In-Python-1\data (2).csv')
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [3]:
data.isna().sum()

YearsExperience    0
Salary             0
dtype: int64

# 2. Extract data fromYearsExperience column is a variable named X

In [ ]:
x = data[["YearsExperience"]]

In [14]:
x

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

# 3. Extract data from salary column is a variable named Y

In [16]:
y = data[["Salary"]]

In [17]:
y

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

# 4. Divide the dataset into two parts for training and testing in 66% and 33% proportion

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.66,random_state=0)

In [20]:
y_test.shape

(11, 1)

# 5. Create and train LinearRegression Model on training set

In [21]:
l_model=LinearRegression()

In [22]:
l_model.fit(x_train,y_train)

LinearRegression()

# 6. Make predictions based on the testing set using the trained model

In [23]:
y_pred=l_model.predict(x_test)

# 7. Check the performance by calculating the r2 score of the model

In [26]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.9766870911747516