In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as snsB

# 1. Load the dataset using pandas

In [2]:
diabetes=pd.read_csv(r"C:\Users\gowta\OneDrive\Desktop\Data Science\assignment\Module-Supervised-Learning-Algorithm-In-Python-1\diabetes (2).csv")
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
diabetes.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

# 2. Extract data fromOutcome column is a variable named Y

In [4]:
y=diabetes["Outcome"]

In [5]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

# 3. Extract data from every column except Outcome column in a variable named X.

In [6]:
x=diabetes.drop(columns='Outcome')

In [7]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

# 4. Divide the dataset into two parts for training and testing in 70% and 30% proportion

In [10]:
from sklearn.model_selection import train_test_split

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=0)

# 5. Create and train Random Forest Model on training set

In [12]:
from sklearn.ensemble import RandomForestClassifier

In [27]:
r_model=RandomForestClassifier(n_estimators=300)

In [28]:
r_model.fit(x_train,y_train)

RandomForestClassifier(n_estimators=300)

# 6. Make predictions based on the testing set using the trained model

In [29]:
y_pred=r_model.predict(x_test)

# 7. Check the performance by calculating the confusion matrix and accuracy score of the model

In [30]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [31]:
confusion_matrix(y_test,y_pred)

array([[140,  17],
       [ 34,  40]], dtype=int64)

In [32]:
accuracy_score(y_test,y_pred)

0.7792207792207793